# Binary distributions
/backend/backend
/backend/main
/backend/tmp/*
!/backend/tmp/.gitkeep


# Node.js
node_modules/
dist/
dist-ssr/
*.local

# Videos (Media storage)
/backend/@videos/raw/*
/backend/@videos/hls/*
/backend/@videos/thumbs/*
!/backend/@videos/raw/.gitkeep
!/backend/@videos/hls/.gitkeep
!/backend/@videos/thumbs/.gitkeep


# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
